{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box">
              <div class="box-body">
              <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <ul class="nav nav-tabs step-indicator wizard-style" style="border-bottom: 0px;">
              <li  class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">Assign Multi Tenancy Nodes</a>
                <span class="chevron"></span>
              </li>
              <li><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Assign Priority Single Tenancy Nodes</a>
              <span class="chevron"></span></li>
              <li><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">
              Assign Low Priority Single Tenancy Nodes</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_3-2">
              <div class='row'>
                <div class='col-md-6'>
                No.of Multi tenancy nodes {{total_nodes}} with high priority {{priority}} and {{low_priority}} with low priority.
              </div>
              </div>
              <div class='box'>
                <div class-='box-body'>  
                  <div class='row' style="padding:25px;">
                      {% for node in assignednodes %}
                      <div style="padding:30px;">
                      <div class="col-md-1">
                          <label for="Verifier">{{node.verfier}}</label>
                      </div>
                      <div class="col-md-1">    
                          <input type="text" class="form-control priority-low-multi" id={{node.verfier}} style="width: 50px" value={{node.low_priority_multi_nodes}}>
                      </div>
                      <div class="col-md-1">    
                          <input type="text" class="form-control priority-high-multi" style="width: 50px" value={{node.high_priority_multi_nodes}} id={{node.verfier}}>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
                <div class='box-footer'>
                    <button type="button" class="btn" style="background-color: #104697;border-color:#104697;color:white;"><a href='#tab_2-2' data-toggle="tab">Next</a></button>
                </div>  
              </div>  
              </div>
               <div class="tab-pane" id="tab_2-2">
                  <div class='row'>
                <div class='col-md-6'>
                No.of Single tenancy high priority nodes {{high_nodes}}
              </div>
              </div>
              <div class='box'>
                <div class-='box-body'>  
                  <div class='row' style="padding:25px;">
                      {% for node in assignednodes %}
                      <div style="padding:30px;">
                      <div class="col-md-1">
                          <label for="Verifier">{{node.verfier}}</label>
                      </div>    
                      <div class="col-md-1">    
                          <input type="text" class="form-control priority-high-single" id="{{node.verfier}}" style="width: 50px" value={{node.low_priority_single_nodes}}>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div> 
              </div>
               <div class="tab-pane" id="tab_1-1">
                  <div class='row'>
                <div class='col-md-6'>
                No.of Single tenancy low priority nodes {{low_nodes}}
              </div>
              </div>
              <div class='box'>
                <div class-='box-body'>  
                  <div class='row' style="padding:25px;">
                      {% for node in assignednodes %}
                      <div style="padding:30px;">
                      <div class="col-md-1">
                          <label for="Verifier">{{node.verfier}}</label>
                      </div>
                      <div class="col-md-1">    
                          <input type="text" class="form-control priority-low-single" id={{node.verfier}} style="width: 50px" value={{node.low_priority_single_nodes}}>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class='box-footer'>
                    <button type="button" class="btn save-nodes" style="background-color: #104697;border-color:#104697;color:white;">Save</button>
                </div>  
              </div>
              </div>
              </div>

            </div>
              <form></form>              
          </div>
        </div>
        </div>
      <!-- /.row -->
    </section>
  </div>
    {% endblock %}    
    {% block script %}    
  <script type="text/javascript">
      $( document ).ready(function() {
            $('#usertable').DataTable({
              'paging'      : true,
              'lengthChange': true,
              'searching'   : true,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false,
            });
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
              });
            $('.save-nodes').click(function() {
                low_single_nodes = $('.priority-low-single');
                high_single_nodes = $('.priority-high-single');
                low_multi_nodes = $('.priority-low-multi');
                high_multi_nodes = $('.priority-high-multi');
                jsonObj = [];
                $('.priority-low-single').each(function() {
                     var verifier = $(this)[0].id;
                     low_single = $(this).val();
                     high_single = $('.priority-low-single'+'#'+verifier).val()
                     low_multi = $('.priority-low-multi'+'#'+verifier).val()
                     high_multi = $('.priority-high-multi'+'#'+verifier).val() 
                     item = {}
                     item ["verifier"] = verifier;
                     item ["low_single"] = low_single;
                     item ["high_single"] = high_single;
                     item ["low_multi"] = low_multi;
                     item ["high_mutli"] = high_multi;
                     item["schedule_date"] = window.location.href.split('/')[4];
                     jsonObj.push(item);
                });
                $.ajax({
                        url: window.location.href,
                        type: "POST",
                        data: {
                          csrfmiddlewaretoken: getCookie('csrftoken'),
                          data:JSON.stringify(jsonObj),
                    },
                    success: function (json) {
                      display_success('Saved Successfully')                
                    },
                    error: function (xhr, errmsg, err) {
                      display_error('Error Processing Ajax')
                    }
                  });
                    
                

            });
           /* $('#usertable tbody').on( 'click', 'tr', function () {
                $('#Verifier').val($(this).find('#username').text());
                $('#modal-default').modal('hide');
            });*/  
      });    
    </script>       
{% endblock %}