<div class="col-xs-12">
            <div class="box">
              <div><h3 style="padding-left: 10px;display: inline-block;">Report Details</h3>
                  <div style="display: inline-flex; margin: 20px" class="pull-right">
                    <button id='export'>Export</button>
                </div>
                  </div>
            <div class='box-body'>
                <table class="table table-bordered table-striped" id="lorrytable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Truck No</th>
                            <th>Consignee</th>
                            <th>Consigner</th>
                        </tr>
                    </thead>
                   <tbody>
                     {% for entry in entries %}
                            <tr>
                                <td>{{ entry.date|date:"d/m/Y" }}</td>
                                <td>{{ entry.truck.truck_no }}</td>
                                <td>{{ entry.customer_consignee.customer_name }}</td>
                                <td id='username'>{{ entry.customer_consignee.customer_name }}</td>
                            </tr>
                        {% endfor %}
                   </tbody>
                   </table>

            </div>
            <div style="padding: 10px;"><p style="display: inline-block;">Click on <b>Entry record</b> to view details</p></div>
            </div>    

          </div>


  <script type="text/javascript">

 (function($) {

      $('#export').on('click', e => {
    // random data
              app_data={}
              start_date = JSON.stringify($('#start_date').val())
              end_date = JSON.stringify($('#end_date').val())
            // debugger;
              // app_data['csrfmiddlewaretoken'] = getCookie('csrftoken')
          var data = 'start_date='+start_date+'&end_date='+end_date
          // let data = app_data;
          let request = new XMLHttpRequest();
          request.open('POST', '/download_report/', true);
          request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
          request.send(data);
          request.responseType = 'blob';

          request.onload = function (e) {
              if (this.status === 200) {
                  let filename = "";
                  let disposition = request.getResponseHeader('Content-Disposition');
                  // check if filename is given
                  if (disposition && disposition.indexOf('attachment') !== -1) {
                      let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                      let matches = filenameRegex.exec(disposition);
                      if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                  }
                  let blob = this.response;
                  if (window.navigator.msSaveOrOpenBlob) {
                      window.navigator.msSaveBlob(blob, filename);
                  }
                  else {
                      let downloadLink = window.document.createElement('a');
                      let contentTypeHeader = request.getResponseHeader("Content-Type");
                      downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                      downloadLink.download = filename;
                      document.body.appendChild(downloadLink);
                      downloadLink.click();
                      document.body.removeChild(downloadLink);
                  }
              } else {
                  alert('Download failed.')
              }
          };
          request.send(data);
      });
})(jQuery);
    </script>   